.rospodil {
  display: flex;
  width: 75%;
  
 
  height: calc(100vh + 100px);
  position: relative;
background-image: url("./3bdfb59510b7dd6c5e3e8468fe8050a1.jpg");
background-repeat: no-repeat;
background-size: cover
}

.rospodil h3 {
  position: absolute;
  top: 180px;
  left: 400px;
  color: rgb(239, 243, 8);
  font-size: 50px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  text-align: center;
}